.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin: auto;
  width: 500px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

div {
  padding: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.table {
  display: flex;
  gap: 20px;
}
